* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.navbar{
   background-image: url(photo/Backgroun.png);
}
.navbar {
    height: 80px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo img{
    margin-left: 10vh;
    margin-bottom: -4px;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 8rem;
    margin-right: 50vh;
}
a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
}

a:hover {
    color:black;
    transition: all 0.3s ease;
}

/* Searchbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.Searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
.input-box{
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.input-box i,
.input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input-box i{
    left: 20px;
    font-size: 30px;
    color: #707070;
}
.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.input-box .button{
    right: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background: #4070f4;
    cursor: pointer;
}
.input-box .button.clicked {
    transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
    .input-box{
        height: 66px;
        margin: 0 8px;
    }
    .input-box i{
        left: 12px;
        font-size: 25px;
    }
    .input-box input{
        padding: 0 112px 0 50px;
    }
    .input-box .button{
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}

/* Recomended */
.Recomended{
    display: flex;
    width: 200px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--Gray-4, #BDBDBD);
    float: right;
    margin-right: 9vh;
}
.Recomended .Text1{
    color: var(--Gray-3, #828282);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;
}
.Recomended .Text2{
    color: var(--Gray-1, #333);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.28px;
}
.Recomended img{
    float: right;
    margin-left: 10vh;
}

/* Bagian Samping */
.Filter-by{
    color: var(--Gray-1, #333);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    margin-left: 3vh;
    margin-bottom: 3vh;
}
.Layout{
    float: left;
    margin-top: 20vh;
    margin-left: 5vh;
    margin-right: 3vh;
}
.FB{
    width: 295px;
    height: 293px;
    border-radius: 6px;
    border: 1px solid var(--Gray-5, #E0E0E0);
}

.Budget{
    border-radius: 6px 6px 0px 0px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    background: var(--Gray-6, #F2F2F2);
    display: flex;
    width: 295px;
    padding: 18px;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}
.list-items{
    position: relative;
    margin-top: 10px;
    border-radius: 8px;
    padding: 16px;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    font-size: 11px;
    transform: scale(0);
}
.item.checked .check-icon{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.own{
    display: flex;
    justify-content: space-around;
}

/* rating */

.rating{
    margin-top: 5vh;
    width: 295px;
    height: 170px;
    border-radius: 6px;
    border: 1px solid var(--Gray-5, #E0E0E0);
}
.rating-text{
    display: flex;
    width: 295px;
    padding: 18px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    background: var(--Gray-6, #F2F2F2);
}
.showr{
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vh;
    color: var(--Gray-2, #4F4F4F);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
}
.flex-container {
    border: 1px solid var(--Gray-5, #E0E0E0);
    display: flex;
    flex-direction: row; 
  }
  
  .flex-container > div {
    width: 70px;
    height: 25px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    background: var(--Gray-6, #F2F2F2);
  }
.flex-container i{
    color: #ff9c1a;
}

/* Content */
.Position{
    float: right;
    margin-right: 6px;
}
.Content1, .Content2{
    margin-top: 15vh;
    width: 915px;
    height: 240px;
    border-radius: 5px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    margin-left: 5vh;
    display: flex;
    align-items: center;
}
.Wrapper{
  margin-left: 2vh;
   width: 90%;
}
.Content1 .Wrapper .Photo{
    width: 285px;
    height: 200px;
    float: left;
    margin-right: 15px;
}
.text-box h2{
    font-size: 22px;
    margin-bottom: 1.5vh;
}
.Review{
    color: var(--Gray-2, #4F4F4F);
    font-size: 14px;
    letter-spacing: 0.28px;
   margin-left: 2vh;
}
.text-box p{
    color: rgba(24, 24, 24, 0.82);
    font-size: 13px;
    margin-top: 2vh;
}
.Review .text-box p{
    font-weight: 400;
} 
/* Button Style */
.btn{
    margin-top: 4vh;
    display: inline-flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: #2F80ED;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow,transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.Content2{
    margin-top: 3vh;
    margin-right: 290px ;
}
.Wrapper2{
    margin-left: 2vh;
     width: 90%;
  }
  .Content2 .Wrapper2 .Photo2{
    width: 285px;
    height: 200px;
    float: left;
    margin-right: 15px  ;
  }
  .text-box2 h2{
      font-size: 22px;
      margin-bottom: 1.5vh;
  }
  .Review2{
      color: var(--Gray-2, #4F4F4F);
      font-size: 14px;
      letter-spacing: 0.28px;
     margin-left: 2vh;
  }
  .text-box2 p{
      color: rgba(24, 24, 24, 0.82);
      font-size: 13px;
      margin-top: 2vh;
  }
  .Review2 .text-box2 p{
    font-weight: 400;
  }
  /* Button Style */
  .btn2{
      margin-top: 4vh;
      display: inline-flex;
      padding: 10px 18px;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      background: #2F80ED;
      width: 160px;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow,transform;
  }
  .btn2:hover, .btn2:focus, .btn2:active{
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

/* Load More */
.lm{
    margin-top: 68rem;
    margin-bottom: 10vh;
    align-items: center;
}
.load-more{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background: rgba(47, 128, 237, 0.10);
    color: var(--Blue-1, #2F80ED);
    font-size: 15px;
    cursor: pointer;
    transition: .3s linear;
    font-weight: bold;
}
.load-more:hover{
    opacity: .8;
}

.FooterP{
    width: 100%;    
}

/* Footer */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
footer{
	font-family: 'Poppins', sans-serif;
    bottom: 0;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
}
.footer a{
    color: black;
}
.footer-content h2{
    margin-bottom: 15px;
}
.footer-content p{
    color: #2F80ED; 
}
.foot-container{
	margin:auto;
}
.row-foot{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer-col{
   margin-left: 10vh;
   width: 20%;
   padding: 0 15px;
   margin-bottom: 5vh;
}
.footer-col h4{
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 10vh;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	bottom: -7px;
	background-color: #2F80ED;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
    margin-top: 12px;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #2F80ED;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:grey;
	margin-top: 15px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;}
