* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    margin-right: 80px;
    margin-left: 80px;
    background-image: no-repeat;
    background-image: url(background.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-top: 30vh;  
    text-align: center;
    
}
.line{
    color: whitesmoke;
    margin-top: 20px;
    font-size: 10px;
    
}
.header-content h1{
    font-size: 5vmin;
    margin-top: 1px;
    margin-bottom: 2px;
}
.searchbar form{
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    padding: 10px;

}

.searchbar form input{
    border: 0;
    outline: 0;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 500px; 
}
.searchbar form .btn{
    color: #FFF;
    font-size: 15px;
    display: flex;
    width: 148px;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--Blue-1, #2F80ED);
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color:#2F80ED;
    transition: all 0.3s ease;
}

/* Navbar */

.navbar {
    /* width: 100%; */
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo img{
    margin-left: 10vh;
    margin-bottom: -4px;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 8rem;
    margin-right: 50vh;
}
/* Enjoy your dream vacation */
section {
    width: 80%;
    margin: 80px auto;
}
.title h1{
    text-align: left;
    margin-left: -5vh;
    font-size: 4vmin;
    color: black;
}
.title h2{
    margin-top: 10px;
    text-align: left;
    margin-left: -5vh;
    font-size: 10px;

}
.famous{
    width: 100%;
    display: flex;
    align-items: center;
}
.famous .box-famous{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.famous .box-famous .box{
    text-align: center;
}

.famous .box-famous .box img{
    width: 240px;
    margin-top: -10vh;
    margin-bottom: 4vh;
    margin-inline: -14vh;
    margin-left: 16vh;  
}

.box h3{
    margin-top: -3vh;
    margin-right: -28vh;
}

/* berita */
.berita{
    width: 100%;
    display: flex;
    align-items: center;
}
.berita .box-containt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.box-containt img{
    width: 250px;
    margin-top: -10vh;
    margin-left: 16vh; 
}

.boc h4{
    margin-top: 2vh;
    margin-left: 16vh;}
    

.boc p{
    margin-left: 16vh;
    
}

.hotel .container-hotel .box-hotel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10vh;
}

.hotel .box-hotel .bt img{
    width: 240px;
    margin-bottom: 2vh;
    margin-left: -5vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
footer{
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-content h2{
    margin-bottom: 15px;
}
.footer-content p{
    color: #2F80ED; 
}
.foot-container{
	margin:auto;
}
.row-foot{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 20vh;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -7px;
	background-color: #2F80ED;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
    margin-top: 12px;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #2F80ED;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:grey;
	margin-top: 15px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;}

.Hero{
    overflow: hidden;
    
}
.Container{
    width: 100%;
    margin: 65px auto;
}
 .Hero-Content{
    flex: 1;
    width: 500px;
    margin: 0px 25px;
    float: left;
    animation: fadeInUp 2s ease;
}

.Hero-Content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.Hero-Content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
    color: #666;
}
.Hero-Content button{
    display: inline-block;
    background-color: #2F80ED;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.Hero-Content button:hover{
    background-color: #2F80ED;
    transform: scale(1.1);
}
.Hero-Image{
    float: right;
    width: fit-content; 
    animation: fadeInRight 2s ease;  
}
.Hero-Image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
}  
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} 
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
} 

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team-member{
    background: #C2D9FF;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #666;
    position: relative;
}
  
.team .team-member h3{
    color: aliceblue;
    font-size: 26px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.team .team-member p.role{
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team-member .team-img{
    width: 100px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.team .team-member .team-img img{
    width: 100px;
    height: auto;
}