* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    margin-right: 80px;
    margin-left: 80px;
    background-image: no-repeat;
    background-image: url(background.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-top: 30vh;  
    text-align: center;
    
}
.line{
    color: whitesmoke;
    margin-top: 20px;
    font-size: 10px;
    
}
.header-content h1{
    font-size: 5vmin;
    margin-top: 1px;
    margin-bottom: 2px;
}
.searchbar form{
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    padding: 10px;

}

.searchbar form input{
    border: 0;
    outline: 0;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 500px; 
}
.searchbar form .btn{
    color: #FFF;
    font-size: 15px;
    display: flex;
    width: 148px;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--Blue-1, #2F80ED);
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color: burlywood;
}

/* Navbar */

.navbar {
    /* width: 100%; */
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 8rem;
    margin-right: 50vh;
}
/* Enjoy your dream vacation */
section {
    width: 80%;
    margin: 80px auto;
}
.title h1{
    text-align: left;
    margin-left: -5vh;
    font-size: 4vmin;
    color: black;
}
.title h2{
    margin-top: 10px;
    text-align: left;
    margin-left: -5vh;
    font-size: 10px;

}
.famous{
    width: 100%;
    display: flex;
    align-items: center;
}
.famous .box-famous{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.famous .box-famous .box{
    text-align: center;
}

.famous .box-famous .box img{
    width: 400px;
    margin-inline: -23vh;
    margin-top: -15vh;
    margin-left: 5vh;
}

.famous .box-famous .box h3{
    margin-top: -3vh;
    margin-right: -25vh;
}

.berita{
    width: 100%;
    display: flex;
    align-items: center;
}
.berita .box-containt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.berita .box-containt img{
    width: 500px;
    margin-inline: -23vh;
    margin-top: -15vh;
    margin-left: 5vh;
}

.boc h4{
    margin-left: 20vh;
    margin-top: -7vh;
}

.boc p{
    margin-left: 20vh;
    
}

.hotel .container-hotel .box-hotel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10vh;
}

.hotel .box-hotel .bt img{
    width: 240px;
    margin-bottom: 2vh;
    margin-left: -5vh;
}

footer {
    background-color: #F1EFEF;
    padding: 20px 0;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-content p{
    color: #2F80ED;
}

.col-md-4{
    margin-inline: 10vh;
}

  
